.virtualization {
  width: 100px;
  height: 240px;
  margin: 100px auto 0;
  overflow-y: auto;
}

.virtualization__list,
.virtual-list {
  position: relative;
}

.virtualization__item {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.virtual-container {
  margin: 20px auto 0;
  overflow-y: auto;
}